/*

    DEFAULT STYLES

*/
html, body {
    height:100%;
}

body {
    background-color: #C6C8C9;
    font-family: 'Alegreya Sans', sans-serif;
}

/*

    NAVBAR STYLES

*/

.top-menu {
    background-color: #25272A;
    padding: 10px 0 10px 0;
}

.logo {
    color: #F0F0F1;
    font-size: 2em;
    font-weight: 700;
}

.logo:hover {
    color: #C6C8C9;
}



.login-btn {
    background-color: #6693B2;
}

.login-btn:hover {
    background-color: #175A8B;
}

/*

    MAIN BODY STYLES

*/

.main-content {
    background-color: #F0F0F1;
    min-height: 85%;
    max-width: 90%;
}

.main-content ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.5em;
    color: #175A8B;
}

.main-content a {
    color: #6693B2;
}
.main-content a:hover {
    text-decoration: none;
    color: #25272A;
}


.main-content h1 {
    color: #175A8B;
    font-weight: 700;
    margin-bottom: 0;
}

.main-content p {
    font-size: 1.25em;
    color: #25272A;
}

.add {
    font-size: 1.25em;
    padding: 10px 0 10px 10px;
}

.add:link {
    color: #175A8B;
}



.latest-items ul {
    padding-left: 10px;
    border-left: 1px solid #C6C8C9;
}

.latest-items h1 {
    padding-left: 10px;
}












