<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Phone Catalog</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="{{url_for('static', filename='../static/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{url_for('static', filename='../static/css/style.css')}}" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg top-menu">
            <div class="container">
                <div class="col-md-8">
                    <a class="navbar-brand logo" href="{{ url_for('main') }}">Phone Catalog</a>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{{ url_for("disconnect") }}"><button type="button" class="btn btn-primary btn-lg login-btn">Logout</button></a>
                </div>
            </div>
        </nav>
        <div class="container main-content">
            <div class="col-md-12 form-group">
                {% with messages = get_flashed_messages() %}
      			{% if messages %}
        			{% for message in messages %}
           		 	<strong> {{ message }} </strong>
        			{% endfor %}
        		{% endif %}
    			{% endwith %}
                <form id="needs-validation" action="{{ url_for('addItem')}}" method = 'post' novalidate>
                    <h1>Add an item to the catalog.</h1>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="itemName">Product Name</label>
                            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="{{item_data['name']}}" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="itemOS">Operating System</label>
                            <input type="text" class="form-control" name="itemOS" id="itemOS" placeholder="{{item_data['os']}}" required>      
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="itemOS">Category</label>
                            <br>
                            <select class="form-control" name="itemCategory" required>
                                {% for c in categories %}
                                <option {% if item_data['category_id'] == c.name %}selected="selected"{% endif %} value="{{ c.name }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <br>
                            <label for="itemDescription">Description</label>
                            <textarea class="form-control" name="itemDescription" id="itemDescription" placeholder="{{item_data['description']}}" required></textarea>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-default" value="Create">
                </form>
                <script>
                // Disable form submission if a field is left blank
                (function() {
                "use strict";
                window.addEventListener("load", function() {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener("submit", function(event) {
                    if (form.checkValidity() == false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                    }, false);
                }, false);
                }());
                </script>    
            </div>
        </div>
    </body>
</html>