<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Phone Catalog</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="{{url_for('static', filename='../static/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{url_for('static', filename='../static/css/style.css')}}" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg top-menu">
            <div class="container">
                <div class="col-md-8">
                    <a class="navbar-brand logo" href="{{ url_for('main') }}">Phone Catalog</a>
                </div>
                <div class="col-md-4 text-right">
                    {% if isAuthenticated == False %}
                    <a href="{{ url_for("showLogin") }}"><button type="button" class="btn btn-primary btn-lg login-btn">Login</button></a>
                    {% elif isAuthenticated == True %}
                    <a href="{{ url_for("disconnect") }}"><button type="button" class="btn btn-primary btn-lg login-btn">Logout</button></a>
                    {% endif %}    
                </div>
            </div>
        </nav>
        <div class="container main-content">
            <div class="col-md-12">
                <h1>{{ item.name }} </h1>
                <p>{{ item.description }}</p>
                {% if isAuthenticated == True %}
                <a href="{{ url_for("editItem", item_name = item.name.replace(" ", "_")) }}" class="add">Edit Item</a>
                <a href="{{ url_for("deleteItem", item_name = item.name.replace(" ", "_")) }}" class="add">Delete Item</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>